/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100vh;
	width: 100vw;
	background-image: url("./style assets/bg.svg");
	background-size: cover;
	background-position: bottom;
}
